//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 07 17:24:19 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "B18" LEVEL 1;
COMP "singlestep_btn" LOCATE = SITE "H13" LEVEL 1;
COMP "addr<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "addr<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "addr<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "addr<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "addr<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "addr<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "sel4<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "sel4<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "sel4<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "sel4<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "singlestep_sw" LOCATE = SITE "N17" LEVEL 1;
COMP "selhigh16bit" LOCATE = SITE "R17" LEVEL 1;
COMP "led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "led<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "led<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "led<7>" LOCATE = SITE "R4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

